body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f0f0f0;
    color: #1E1E1E;
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
}

.component {
    display: flex; 
    align-items: center; 
    justify-content: flex-start;
    margin-bottom: 20px;
}

.custom-select, .tooltip-container {
    position: relative;
    display: inline-block;
}

.custom-select select {
    appearance: none;
    -webkit-appearance: none;
    padding: 8px 40px 8px 10px;
    font-size: 16px;
    width: 200px;
    cursor: pointer;
    background-image:
        linear-gradient(45deg, transparent 50%, gray 50%),
        linear-gradient(135deg, gray 50%, transparent 50%);
    background-position:
        calc(100% - 20px) 50%,
        calc(100% - 15px) 50%,
        calc(100% - 2.5em) 50%;
    background-size:
        5px 5px,
        5px 5px,
        1px 1.5em;
    background-repeat: no-repeat;
}

.custom-select select:focus {
    outline: none;
    border-color: #ccc;
}

.custom-select::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #555;
    pointer-events: none;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    color: #000;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover{
    background-color: #E0E0E0;
}

button, fieldset, input, select, .select-items, .tooltip, .output {
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #FAFAFA;
    color: #1E1E1E;
}

input {
    padding: 8px;
}

label {
    padding-right: 5px;
}

.tooltip {
    position: absolute;
    top: 50%;
    left: calc(100% + 5px);
    transform: translateX(0); 
    color: #000;
    padding: 5px 10px;
    font-size: 14px;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    white-space: nowrap;
    visibility: hidden;
    white-space: normal;
    min-width: 150px;
}

.tooltip-container:hover .tooltip {
    opacity: 1;
    visibility: visible;
}

.tooltip-trigger {
    display: inline-block; 
    margin-left: 5px; 
    background-color: #FAFAFA;
    color: #000;
    padding: 5px 8px;
    border-radius: 50%;
    font-size: 12px;
    cursor: pointer;
    border: 1px solid #ccc;
}

.output {
    display: none;
    padding: 5px;
    margin-top: 10px;
    height: fit-content;
    justify-content: center;
}